footer{
    border-top: 2px solid lightgray;
    padding-top: 2em;;
    margin-bottom: 2em;
}
.footercontent{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
footer section{
    max-width: 32%;
}
footer a{
    text-decoration: none;
    color: green;
}
h2, h3{
    font:1.4em /1 'Times New Roman', Times, serif;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}
footer li,
footer p{
    font-size: 0.8em;;
}
.footer2{
    display: flex; 
    flex-wrap: wrap;
    justify-content: left;
    
}
.footertwotitle{
    width: 100%;
    text-align: left;
}
.footertwocontent{
    display: flex;
    gap: 2em;
}
footer{
    margin-bottom: -1em;
}
